{# heading: H2. crumb: optional last breadcrumb label (defaults to heading). #}
<div class="breadcrumbs-area bg-overlay-dark bg-6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs-text text-left">
                    <h2>{{ heading }}</h2>
                    <div class="breadcrumbs-bar">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'core:home' %}">HOME</a></li>
                            <li>{% firstof crumb heading %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
