{% load static %}
<header class="header-area">
    
    <div class="header-main bg-green white">
        <div class="container">
            <div class="header-main-wrapper">
                <div class="logo-wrapper">
                    <div class="logo">
                        <a href="{% url 'core:home' %}"><img src="{% static 'img/logo/logo.png' %}" alt="Karim and Associates" /></a>
                    </div>
                </div>
                <div class="header-main-content">
                    <div class="header-info">
                        <img src="{% static 'img/icons/phone.png' %}" alt="">
                        <div class="header-info-text">
                            <h4>+2348067766435</h4>
                            <span>Mon–Fri, 8:00–17:00</span>
                        </div>
                    </div>
                    <div class="header-info">
                        <img src="{% static 'img/icons/message.png' %}" alt="">
                        <div class="header-info-text">
                            <h4>info@karimandassociates.org</h4>
                            <span>Training and consultancy</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainmenu-area fixed header-sticky d-lg-block d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="main-menu text-center">
                        <nav>
                            <ul>
                                <li><a href="{% url 'core:home' %}">HOME</a></li>
                                <li><a href="{% url 'core:about' %}">ABOUT US</a></li>
                                <li><a href="{% url 'services:list' %}">SERVICES</a></li>
                                <li><a href="{% url 'projects:list' %}">PROJECTS</a></li>
                                <li><a href="{% url 'core:contact' %}">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu-area d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="{% url 'core:home' %}">HOME</a></li>
                                <li><a href="{% url 'core:about' %}">ABOUT US</a></li>
                                <li><a href="{% url 'services:list' %}">SERVICES</a></li>
                                <li><a href="{% url 'projects:list' %}">PROJECTS</a></li>
                                <li><a href="{% url 'core:contact' %}">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
