{% extends "base.html" %}
{% load static %}
{% block title %}Team | Karim &amp; Associates{% endblock %}
{% block meta_description %}Meet the partners, associates, and professional staff of Karim &amp; Associates Limited.{% endblock %}
{% block content %}
{% include "partials/breadcrumbs.html" with heading="OUR TEAM" crumb="TEAM" only %}

<div class="team-area fix pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title text-center mb-75">
                    <h2>Team Members</h2>
                </div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Prof. Shehu Usman Hassan</h3><span>Principal Partner/CEO</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Prof. M. Liman Muhammad</h3><span>Partner</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Abbas Usman, PhD</h3><span>Partner</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Saifullahi A. Mazadu, PhD</h3><span>Partner</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Prof. Ahmad Bello</h3><span>Associate</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Abdulkadeer B. Njidda, PhD</h3><span>Associate</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Prof. Ahmad B. Dogarawa</h3><span>Associate</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Prof. Muhammad M. Bagudo</h3><span>Associate</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Ibrahim Mahmoud, PhD</h3><span>Associate</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Peter Osuagwu</h3><span>Associate</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Mustapha M. Bagudu, PhD</h3><span>Associate</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Mohammed Musa Bayero</h3><span>Associate</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Atiku M. Jafar, Esq.</h3><span>Company Secretary</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Adamu Magaji</h3><span>Audit Manager (Kaduna)</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Abubakar Abubakar</h3><span>Audit Manager (Gombe)</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Abubakar M. Bello</h3><span>Audit Manager (Bauchi)</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Abubakar Ali</h3><span>Audit Manager (Abuja)</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Bashir Hassan</h3><span>Audit Assistant</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Surajo Baffa</h3><span>Audit Assistant</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Yusuf Muhammad</h3><span>Audit Assistant</span></div></div></div>
            <div class="col-lg-3 col-md-6"><div class="single-team-member"><div class="member-text"><h3>Umar Bello</h3><span>Audit Assistant</span></div></div></div>
        </div>
    </div>
</div>
{% endblock %}
